<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    
    <title>Usuarios</title>
</head>
<body>
    <div>
        <h1 th:text="${titulo}" > </h1>
        <table border="1" >
            <tr>
                <th>Usuario</th>
                <th>Clave</th>
                <th>Rol</th>
            </tr>

            <tr th:each="usuarios: ${usuarios}">
                
                <td th:text="${usuarios.usuario}"></td>
                <td th:text="${usuarios.clave}"></td>
                <td th:text="${usuarios.rol}"></td>

            </tr>
        </table>
    </div>
</body>
</html>